.wrapper {
    position: absolute;
    inset: auto 0 0 auto;
    margin: auto 0 0;
    width: 480px;
    max-width: calc(100% - 16px);
    overflow: hidden;

    @media (max-width: 58.5em) {
        position: fixed;
        inset: auto 8px 50px auto;
    }

    .show-btn {
        position: absolute;
        inset: auto 8px 8px auto;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        border-radius: 50%;
        color: var(--primary-text-color);
        background-color: var(--secondary-bg-color);
        cursor: pointer;
    }

    .codeDesc-wrap {
        position: relative;
        padding: 8px 8px 0;
        border-radius: 6px;
        background-color: var(--secondary-bg-color);
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;

        &.show {
            transform: translateX(0);
        }

        .desc {
            position: relative;
            margin-top: 32px;
            padding: 3px 0 0 8px;
            height: 48px;
            font-size: 1.4rem;
            border-radius: 4px;
            color: var(--primary-text-color);
            background-color: var(--dark-color);

            @media (max-width: 30em) {
                padding-top: 1px;
                height: 40px;
                font-size: 1.3rem;
            }

            &::before {
                content: 'Description:';
                position: absolute;
                inset: auto 0 calc(100% + 10px) 0;
                font-size: 1.6rem;
                line-height: 20px;

                @media (max-width: 30em) {
                    font-size: 1.4rem;
                }
            }
        }

        .close-btn {
            position: absolute;
            top: 0;
            right: 0;
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            border-radius: 0 6px 0 12px;
            color: var(--primary-text-color);
            background-color: var(--primary-bg-color);
            cursor: pointer;
        }
    }
}
